# reannotate the PS label and selections
- Previous PS_lab or PS_sel has issues with `asari extract`
- Thus need to redo them separately

In [1]:
import pandas as pd

In [2]:
targeted_matched_df = pd.read_csv("../../output/preproc_fultab_lab_targlist_79_rmTn750K/features_matched2targetPS_M-Honly.csv", index_col= 0)

In [3]:
targeted_matched_df.head(5)

            formula  neutral_mass short_name
FTID
F9996   C43H76NO10P    797.520687    PS 37:4
F9994   C43H76NO10P    797.520687    PS 37:4
F9995   C43H76NO10P    797.520687    PS 37:4
F9997   C43H76NO10P    797.520687    PS 37:4
F14243  C49H84NO10P    877.583287    PS 43:6

In [4]:
annot_df = pd.read_csv("../../../asari-output-RPneg/output_asari_project_31312361/Feature_annotation.tsv", 
                       sep  = '\t', index_col=0)

In [5]:
# Drop duplicate rows based on index
annot_df = annot_df.loc[~annot_df.index.duplicated(keep='first')]

In [6]:
annot_df.iloc[:,0:4].head()

                         mz       rtime  apex(scan number) [EmpCpd]interim_id
[peak]id_number
F22              505.150330  140.614329                626       kp1_506.1566
F144             506.151741  140.614329                626       kp1_506.1566
F190             401.305092  149.563090                666       kp2_401.3091
F24              400.301849  149.563090                666       kp2_401.3091
F193             401.309975  189.834108                850       kp3_401.3133

In [20]:
m_tar_matched_df = pd.merge(targeted_matched_df,
                             annot_df,
                             left_index = True,
                             right_index = True,
                             how = "left")

In [21]:
m_tar_matched_df.to_csv("../../output/preproc_fultab_lab_targlist_79_rmTn750K/features_matched2targetPS_M-Honly_wtMzRt.csv")

In [7]:
targeted_matched_df.shape

(262, 3)

In [8]:
targeted_matched_df_upd = pd.merge(targeted_matched_df,annot_df.iloc[:,0:4],left_index=True,right_index=True, how = 'left')

In [9]:
targeted_matched_df_upd.head()

,formula,neutral_mass,short_name,mz,rtime,apex(scan number),[EmpCpd]interim_id
FTID,,,,,,,
F9996,C43H76NO10P,797.520687,PS 37:4,796.513412,247.572266,1119,kp1701_795.5159
F9994,C43H76NO10P,797.520687,PS 37:4,796.513412,69.724569,310,18057
F9995,C43H76NO10P,797.520687,PS 37:4,796.513412,231.765959,1045,18058
F9997,C43H76NO10P,797.520687,PS 37:4,796.513412,314.774139,1438,18059
F14243,C49H84NO10P,877.583287,PS 43:6,876.571709,369.491301,1702,kp2224_816.6371

In [10]:
feat_df = pd.read_csv("../../output/preproc_fultab_lab_targlist_79_rmTn750K/FC_log2_hMinImp_TICn_groupFil0.3_RPneg_blkM_featab.csv",
           index_col = 0)

In [11]:
PS_lab_feat_df = pd.merge(targeted_matched_df_upd, feat_df, left_index=True,right_index=True, how = 'right')

In [12]:
PS_sel_feat_df = pd.merge(targeted_matched_df_upd, feat_df, left_index=True,right_index=True, how = 'inner')

In [13]:
# PS_sel_feat_df.head()
PS_sel_feat_df.shape

(104, 28)

In [14]:
PS_lab_feat_df.to_csv("../../output/preproc_fultab_lab_targlist_79_rmTn750K/updPSlab_FC_log2_hMinImp_TICn_groupFil0.3_RPneg_blkM_featab.csv")
PS_sel_feat_df.to_csv("../../output/preproc_fultab_lab_targlist_79_rmTn750K/updPSsel_FC_log2_hMinImp_TICn_groupFil0.3_RPneg_blkM_featab.csv")

-------

-------

-------

-----

In [15]:
stat_df = pd.read_csv("../../output/hMinImp_TICnorm_groupFil0.3_RPneg_1wayANOVA/one_wayANOVA_hMinImp_TICnorm_groupFil0.3_RPneg_fullreport.csv",
                index_col = 0)

In [16]:
PS_lab_stat_df = pd.merge(targeted_matched_df_upd,stat_df,left_index=True,right_index=True, how = 'right')

In [17]:
PS_sel_stat_df = pd.merge(targeted_matched_df_upd,stat_df,left_index=True,right_index=True, how = 'inner')

In [18]:
PS_lab_stat_df.to_csv("../../output/hMinImp_TICnorm_groupFil0.3_RPneg_1wayANOVA/updPS_lab_one_wayANOVA_hMinImp_TICnorm_groupFil0.3_RPneg_fullreport.csv")
PS_sel_stat_df.to_csv("../../output/hMinImp_TICnorm_groupFil0.3_RPneg_1wayANOVA/updPS_sel_one_wayANOVA_hMinImp_TICnorm_groupFil0.3_RPneg_fullreport.csv")