# Wraggle the target list of PS

https://github.com/shuzhao-li/mass2chem/blob/master/mass2chem/adducts.py

# Positive_mode

In [53]:
PROTON = 1.00727646677

In [8]:
def compute_adducts(mw, cFormula):
    PROTON = 1.00727646677
    adduct_dict = {'M+H[+]': mw + PROTON, 
                   'M+2H[2+]': (mw + PROTON*2)/2,
                   'M+NH4[+]': mw + 17.0265 + PROTON,
                   'M+H-H2O[+]': mw - 18.0106 + PROTON,
                   'M+Na[+]': mw + 21.9820 + PROTON}
    return adduct_dict[cFormula]

In [2]:
import pandas as pd

In [10]:
PS_target_df = pd.read_excel("../../input/HILICpos_mzML/PS_target_list_to_Minghao.xlsx")

In [24]:
targeted_adducts = ['M+H[+]','M+2H[2+]','M+NH4[+]','M+H-H2O[+]','M+Na[+]']

In [25]:
columns = ['Species Shorthand','Formula','Common Name']

In [41]:
final_df = pd.DataFrame()
for cFormula in targeted_adducts:
    temp_df = PS_target_df.loc[:,columns]
    temp_df['adduct_type'] = cFormula
    temp_df['mz'] = temp_df['Formula'].apply(lambda x: compute_adducts(x, cFormula))
    final_df = pd.concat([final_df,temp_df],axis = 0)

In [42]:
final_df

,Species Shorthand,Formula,Common Name,adduct_type,mz
0,PS 25:0,637.395487,PS(12:0/13:0),M+H[+],638.402763
1,PS 37:4,797.520687,"PS(17:0/20:4(5Z,8Z,11Z,14Z))",M+H[+],798.527963
2,PS 43:6,877.583287,"PS(21:0/22:6(4Z,7Z,10Z,13Z,16Z,19Z))",M+H[+],878.590563
3,PS 31:1,719.473737,PS(17:0/14:1(9Z)),M+H[+],720.481013
4,PS 34:1,761.520687,PS(16:0/18:1(11Z)),M+H[+],762.527963
...,...,...,...,...,...
1212,LPS O-29:1;O,679.478822,1-(2-methoxy-21Z-octacosenyl)-sn-glycero-3-pho...,M+Na[+],702.468098
1213,LPS O-27:2;O,649.431872,"1-(2-methoxy-5Z,9Z-hexacosadienyl)-sn-glycero-...",M+Na[+],672.421148
1214,LPS O-27:2;O,649.431872,"1-(2-methoxy-5Z,19Z-hexacosadienyl)-sn-glycero...",M+Na[+],672.421148
1215,LPS O-29:2;O,677.463172,"1-(2-methoxy-7Z,21Z-octacosadienyl)-sn-glycero...",M+Na[+],700.452448
1216,PS 44:10,883.536337,"PS(22:4(7Z,10Z,13Z,16Z)/22:6(4Z,7Z,10Z,13Z,16Z...",M+Na[+],906.525613

In [54]:
final_df = final_df.sort_values(['mz','Common Name'])

In [55]:
final_df = final_df.loc[:,['mz','Species Shorthand','Formula','Common Name','adduct_type']]

In [56]:
final_df.to_csv("../../input/HILICpos_mzML/PS_target_list_pos_mode.txt", sep = '\t',index = False)

------

------

------

# When you have asari targeted extract...

In [59]:
targeted_feat_df = pd.read_csv("../../input/HILICpos_mzML/output_asari_project_224113827_targeted_search/targeted_extraction__Feature_table.tsv", delimiter='\t')

In [60]:
targeted_feat_df.head()

,query_target,id_number,mz,rtime,rtime_left_base,rtime_right_base,parent_masstrack_id,peak_area,cSelectivity,goodness_fitting,...,nist_5,q3June2014_1b_1,q3June2014_1b_3,q3June2014_1b_5,q3June2014_2a_1,q3June2014_2a_3,q3June2014_2a_5,q3June2014_2b_1,q3June2014_2b_3,q3June2014_2b_5
0,228.621487,F5597,228.6215,24.90,23.59,27.79,6243,11581986,1.00,0.92,...,0,0,0,0,0,0,0,0,0,0
1,285.644962,F8342,285.6449,24.12,22.01,25.43,7803,8354554,1.00,0.87,...,0,1880316,1898032,2087381,2028266,1400488,1438950,1530588,1802440,1358006
2,289.676262,F8901,289.6775,28.84,28.06,30.16,7939,15049385,1.00,0.88,...,0,0,0,0,0,0,0,0,0,0
3,372.744145,F10769,372.7447,25.17,23.59,28.32,9930,2649961,1.00,0.99,...,0,0,0,0,0,0,0,0,0,0
4,380.759795,F11347,380.7611,40.93,40.41,42.77,10096,3886624,0.36,0.76,...,0,955231,0,0,694556,652651,772866,0,775396,383544

In [63]:
final_df.columns

Index(['mz', 'Species Shorthand', 'Formula', 'Common Name', 'adduct_type'], dtype='object')

In [64]:
final_df.columns = ['query_target', 'Species Shorthand', 'Formula', 'Common Name', 'adduct_type'] # rename the mz with query_target

In [66]:
m_df = pd.merge(final_df,targeted_feat_df, on = 'query_target')

In [68]:
m_df.shape

(717, 40)

In [67]:
m_df.head()

,query_target,Species Shorthand,Formula,Common Name,adduct_type,id_number,mz,rtime,rtime_left_base,rtime_right_base,...,nist_5,q3June2014_1b_1,q3June2014_1b_3,q3June2014_1b_5,q3June2014_2a_1,q3June2014_2a_3,q3June2014_2a_5,q3June2014_2b_1,q3June2014_2b_3,q3June2014_2b_5
0,285.644962,LPS 22:6,569.275372,"PS(22:6(4Z,7Z,10Z,13Z,16Z,19Z)/0:0)",M+2H[2+],F8342,285.6449,24.12,22.01,25.43,...,0,1880316,1898032,2087381,2028266,1400488,1438950,1530588,1802440,1358006
1,289.676262,LPS 22:2,577.337972,"PS(22:2(13Z,16Z)/0:0)",M+2H[2+],F8901,289.6775,28.84,28.06,30.16,...,0,0,0,0,0,0,0,0,0,0
2,372.744145,PS 33:3,743.473737,"PS(13:0/20:3(8Z,11Z,14Z))",M+2H[2+],F10769,372.7447,25.17,23.59,28.32,...,0,0,0,0,0,0,0,0,0,0
3,372.744145,PS 33:3,743.473737,"PS(15:0/18:3(6Z,9Z,12Z))",M+2H[2+],F10769,372.7447,25.17,23.59,28.32,...,0,0,0,0,0,0,0,0,0,0
4,372.744145,PS 33:3,743.473737,"PS(15:0/18:3(9Z,12Z,15Z))",M+2H[2+],F10769,372.7447,25.17,23.59,28.32,...,0,0,0,0,0,0,0,0,0,0

In [69]:
m_df.index = m_df.id_number

In [70]:
m_df.to_csv("../../input/HILICpos_mzML/output_asari_project_224113827_targeted_search/m-targeted_extraction-Feature_table.tsv", sep = '\t')

------

------

------

In [75]:
m_df.groupby('query_target').aggregate('Common Name').count()

query_target
285.644962     1
289.676262     1
372.744145    10
380.759795    15
380.777987     4
              ..
860.637513     6
860.673898     2
880.512313     1
888.668813     2
900.572563     2
Name: Common Name, Length: 133, dtype: int64

In [79]:
m_df_red = m_df.drop(['Common Name'], axis = 1)

In [81]:
df_top = m_df_red.drop_duplicates(keep='first')

In [82]:
df_top.shape

(136, 39)

In [85]:
df_top.to_csv("../../input/HILICpos_mzML/output_asari_project_224113827_targeted_search/simp-m-targeted_extraction-Feature_table.tsv", sep = '\t')